{% extends 'base.html.twig' %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <div id="app">
        {{ message }}
    </div>
{% endblock %}

{% block title %}Image index{% endblock %}

{% block body %}

{% endblock %}
